<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
  	<insert id="insertBoard" parameterType="board">
  		insert into board values(
  			board_seq.nextval,
  			#{boardTitle},
  			#{boardContent},
  			to_char(sysdate, 'yyyy-mm-dd'),
  			0,
  			#{boardClass}
  		)
  	</insert>
  	
  	<select id="boardList" resultType="board" >
  		select * from(select rownum as rnum, b.*from(select board_no as boardNo, board_title as boardTitle , board_content as boardContent , board_date as boardDate , board_count as boardCount , board_class as boardClass from board order by 1 desc)b) where rnum between #{start} and #{end}
  	</select>
  	
  	<select id="boardClassList" resultType="board" >
	select * from(select rownum as rnum, b.*from(select board_no as boardNo, board_title as boardTitle , board_content as boardContent , board_date as boardDate , board_count as boardCount , board_class as boardClass from board where board_class = #{boardClass})b) where rnum between #{start} and #{end}
  	</select>
  	
  	<delete id="deleteBoard" parameterType="int">
  	delete from board where board_no = #{boardNo}
  	</delete>

  	 <update id="updateBoard" parameterType="board">
  	 update board set
  	 	board_class = #{boardClass},
  	 	board_title = #{boardTitle},
  	 	board_content = #{boardContent}
  	 	where board_no = #{boardNo}
  	 </update>
  	 
  	<select id="memberList" resultType="m">
		select * from(select rownum as rnum, m.*from(select member_id as memberId , member_name as memberName , member_phone as memberPhone , member_addr as memberAddr , enroll_date as enrollDate , grade from member order by enroll_date desc)m) where rnum between #{start} and #{end}
  	</select>
  	
  	 <select id="memberGradeList" resultType="m">
		select * from(select rownum as rnum, m.*from(select member_id as memberId , member_name as memberName , member_phone as memberPhone , member_addr as memberAddr , enroll_date as enrollDate , grade from member where grade = #{grade} order by enroll_date desc)m) where rnum between #{start} and #{end}
  	</select>
  	

  	
  	<select id="totalBoardCount" resultType="int">
		select count(*) from board
	</select>
	
	<select id="totalBoardClassCount" resultType="int">
		select count(*) from board where board_class = #{boardClass}
	</select>
  	
  	<select id="noticeCount" resultType="int">
		select count(*) from board where board_class = 1
	</select>
	
	<select id="faqCount" resultType="int">
		select count(*) from board where board_class = 0
	</select>

	<select id="adminCount" resultType="int">
		select count(*) from member where grade = 3
	</select>	
	
	<select id="memberCount" resultType="int">
		select count(*) from member where grade = 0
	</select>	
	
	<select id="sellerCount" resultType="int">
		select count(*) from member where grade = 1
	</select>			
  	
  	<select id="totalMemberCount" resultType="int">
  		select count(*) from member
  	</select>
	
	<select id="totalGradeCount" resultType="int">
		select count(*) from member where grade = #{grade}
	</select>
	
	<select id="selectOneBoard" parameterType="int" resultType="board">
		select board_no as boardNo , board_title as boardTitle, board_content as boardContent , board_date as boardDate , board_count as boardCount , board_class as boardClass  from board where board_no = #{boardNo}
	</select>
	
	<select id="selectBoardListPage" resultType="board">
		select board_no as boardNo , board_title as boardTitle, board_content as boardContent , board_date as boardDate , board_count as boardCount , board_class as boardClass from board order by 1 desc
	</select>
	
	<select id="noticeList" resultType="board">
		select board_no as boardNo , board_title as boardTitle, board_content as boardContent , board_date as boardDate , board_count as boardCount , board_class as boardClass from board where board_class= 1	
	</select>
	
	<select id="faqList" resultType="board">
		select board_no as boardNo , board_title as boardTitle, board_content as boardContent , board_date as boardDate , board_count as boardCount , board_class as boardClass from board where board_class= 0
	</select>	
	
	<select id="searchMember" resultType="m">
			select member_id as memberId , member_name as memberName , member_phone as memberPhone , member_addr as memberAddr , enroll_date as enrollDate , grade from member 
			where  
                      member_id like '%'||#{keyword}||'%'
                      or member_name like '%' || #{keyword}||'%'  
	</select>
	
	<insert id="addVisit" >
		INSERT INTO VISIT (V_DATE) VALUES (to_char(sysdate,'yyyy-mm-dd'))
	</insert>
	<select id="totalPayment" resultType="int">
		select count(*) from payment_info
	</select>
	
		<select id="totalPay" resultType="String">
		select TO_CHAR(sum(amount) , '999,999,999,999,999') from payment_info
	</select>
	
	<select id="todayVisitor" resultType="int">
		select count(*) from visit where v_Date = to_char(sysdate, 'yyyy-mm-dd')
	</select>
	
	<select id="memberVisitor" resultType="visitor">
select 
    (select count(*) from visit where v_Date = to_char(sysdate-6,'yyyy-mm-dd')) as be6yes,
    (select count(*) from visit where v_Date = to_char(sysdate-5,'yyyy-mm-dd')) as be5yes,
    (select count(*) from visit where v_Date = to_char(sysdate-4,'yyyy-mm-dd')) as be4yes,
    (select count(*) from visit where v_Date = to_char(sysdate-3,'yyyy-mm-dd')) as be3yes,
    (select count(*) from visit where v_Date = to_char(sysdate-2,'yyyy-mm-dd')) as beyes,
    (select count(*) from visit where v_Date = to_char(sysdate-1,'yyyy-mm-dd')) as yes,
    (select count(*) from visit where v_Date = to_char(sysdate,'yyyy-mm-dd')) as today
from dual
	</select>
	<select id="joinMember" resultType="joinMember">
select
    (select count(*) from member where enroll_date like '2021-02%') as feb,
    (select count(*) from member where enroll_date like '2021-03%') as mar,
    (select count(*) from member where enroll_date like '2021-04%') as apr,
    (select count(*) from member where enroll_date like '2021-05%') as may,
    (select count(*) from member where enroll_date like '2021-06%') as jun,
    (select count(*) from member where enroll_date like '2021-07%') as jul
    from dual	
	</select>
	
	
	<select id="adminSeller" resultType="sa">
select 
sa_no as saNo , 
sa_id as saId , 
sa_profile as saProfile , 
sa_category as saCategory , 
sa_child_category as saChildCategory , 
sa_introd as saIntrod , 
NVL(sa_college,'미등록') as saCollege , 
NVL(sa_major,'미등록') as saMajor  , 
NVL(sa_state,'미등록') as saState , 
NVL(sa_license,'없음') as saLicense , 
NVL(sa_lc_date,'없음') as saLcDate , 
NVL(sa_lc_org,'없음') as saLcOrg 
from seller_ask 
</select>

	<select id="selectOneMember" parameterType="int" resultType="m">
select member_id as memberId , member_pw as memberPw , member_name as memberName , member_phone as memberPhone , member_addr as memberAddr , enroll_date as enrollDate , grade , pf_no as pfNo	where member_id=#{memberId}</select>

<update id="updateMember" parameterType="string">
  	 update member set
  	 	grade = 1
  	 	where member_id = #{memberId}
  	 </update>
  	 
  	 <delete id="deleteSeller">
  	 
  	 delete from seller_ask where sa_no = #{saNo}
  	 </delete>
</mapper>
