<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common">

	<!-- 신고 접수 -->
	<insert id="insertTattle" parameterType="tt">
		insert into tattle values(
			tt_seq.nextval,				
			#{victimId},
			#{attackerId},
			#{ttCategory},
			#{ttContent},		
			to_char(sysdate, 'yyyy-mm-dd'))
	</insert>
	<select id="selectSearchedCountFservice" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM fservice where
		fs_title like '%'||#{keyword}||'%'
		or fs_child_category like '%'||#{keyword}||'%'
		or fs_writer like '%'||#{keyword}||'%'
		or fs_category like '%'||#{keyword}||'%'
	</select>
	<select id="selectSearchedFservice" parameterType="kr.or.common.model.vo.Search"  resultType="fs">
					SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
                          	fs_title like '%'||#{keyword}||'%'
							or fs_child_category like '%'||#{keyword}||'%'
							or fs_category like '%'||#{keyword}||'%'
							or fs_writer like '%'||#{keyword}||'%'
						ORDER BY fs_no DESC 
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<insert id="insertServiceLike" parameterType="map">
		insert into service_like values(
			#{fsNo}, #{memberId}
		)
	</insert>
	<delete id="deleteServiceLike" parameterType="map">
		delete from service_like
		where fs_no = #{fsNo} and member_id = #{memberId}
	</delete>
	<select id="selectLike" parameterType="String" resultType="int">
		select
			fs_no as fsNo
		from
			service_like
		where member_id = #{memberId}
	</select>
	<select id="selectSearchedCategory" parameterType="kr.or.common.model.vo.Search"  resultType="fs">
		
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
                          	fs_title like '%'||#{keyword}||'%'
							or fs_child_category like '%'||#{keyword}||'%'
							or fs_category like '%'||#{keyword}||'%'
							or fs_writer like '%'||#{keyword}||'%'
						ORDER BY fs_no DESC 
						
	</select>
	<select id="selectReview" parameterType="int" resultType="kr.or.common.model.vo.Review">
		select review_no as reviewNo,
			fs_no as fsNo,
			fs_working as fsWorking,
			fs_child_category as fsChildCategory,
			review_score as reviewScore
		from review_service
		where fs_no = #{fsNo} 
	</select>
	
	<!-- 채팅 리스트 불러오기 - 판매자/구매자 -->
	<select id="selectChatList" parameterType="string" resultType="c">
		SELECT
			chat_no as chatNo,
			receiver,
			sender
		FROM
			CHAT
		WHERE
			sender = #{memberId} or receiver = #{memberId}
	</select>
</mapper>
