<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common">
<!-- 판매자 권한 신청하기 -->
<insert id="insertSeller" parameterType="sa">
	insert into seller_ask values(
	seller_ask_seq.nextval,
	#{saId},
	#{saProfile},
	#{saCategory},
	#{saChildCategory},
	#{saIntrod},
	#{saCollege},
	#{saMajor},
	#{saState},
	#{saLicense},
	#{saLcDate},
	#{saLcOrg}
	
	)
	
	
</insert>

	<!-- 서비스 요청 리스트 불러오기 -->
	<select id="selectSrList" parameterType="srd" resultType="sr">
		SELECT
			FS.FS_TITLE as fsTitle,
			FS.FS_CATEGORY as fsCategory,
			FS.FS_CHILD_CATEGORY as fsChildCategory,
			SR.REQUEST_ID as requestId,
			SR.SR_STATE as srState 
		FROM
			SERVICE_REQUEST SR
		JOIN
			FSERVICE FS
		ON
			SR.FS_NO = FS.FS_NO
		WHERE
			FS.FS_WRITER = #{fsWriter} AND SR.SR_STATE = #{srState}
	</select>

	<!-- 채팅 내용 db 저장 -->
	<insert id="insertChatMsg" parameterType="sc">
		insert into save_chat values(#{scNo}, #{scContent}, #{scFlag}, sysdate)
	</insert>

	<!-- 채팅 리스트 불러오기 - 판매자/구매자 -->
	<select id="selectChatList" parameterType="string"
		resultType="c">
		SELECT
			chat_no as chatNo,
			buyer,
			seller
		FROM
			CHAT
		WHERE
			buyer = #{memberId} or seller = #{memberId}
	</select>

	<!-- 채팅 저장 내용 불러오기 -->
	<select id="selectSaveChatList" resultType="sc"
		parameterType="int">
		SELECT
		    TO_CHAR(SC_TIME,'mm"월" dd"일" PM HH:MI') AS scTime,
		    SC_CONTENT AS scContent,
		    SC_FLAG AS scFlag
		FROM
	    	(
	        SELECT
	            *
	        FROM
	            SAVE_CHAT
	        WHERE
	            SC_NO = #{chatNo}
	    	) SC
	    ORDER BY SC.SC_TIME
	</select>

	<!-- 신고 접수 -->
	<insert id="insertTattle" parameterType="tt">
		insert into tattle
		values(
		tt_seq.nextval,
		#{victimId},
		#{attackerId},
		#{ttCategory},
		#{ttContent},
		to_char(sysdate, 'yyyy-mm-dd'))
	</insert>
	
	<select id="selectSearchedCountFservice" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM fservice where
		fs_title like '%'||#{keyword}||'%'
		or fs_child_category like '%'||#{keyword}||'%'
		or fs_writer like '%'||#{keyword}||'%'
		or fs_category like '%'||#{keyword}||'%'
	</select>
	<select id="selectSearchedFservice" parameterType="kr.or.common.model.vo.Search"  resultType="fs">
					SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
                          	fs_title like '%'||#{keyword}||'%'
							or fs_child_category like '%'||#{keyword}||'%'
							or fs_category like '%'||#{keyword}||'%'
							or fs_writer like '%'||#{keyword}||'%'
						ORDER BY fs_no DESC 
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<insert id="insertServiceLike" parameterType="map">
		insert into service_like values(
			#{fsNo}, #{memberId}
		)
	</insert>
	<delete id="deleteServiceLike" parameterType="map">
		delete from service_like
		where fs_no = #{fsNo} and member_id = #{memberId}
	</delete>
	<select id="selectLike" parameterType="String" resultType="int">
		select
			fs_no as fsNo
		from
			service_like
		where member_id = #{memberId}
	</select>
	<select id="selectSearchedCategory" parameterType="kr.or.common.model.vo.Search"  resultType="fs">
		
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
                          	fs_title like '%'||#{keyword}||'%'
							or fs_child_category like '%'||#{keyword}||'%'
							or fs_category like '%'||#{keyword}||'%'
							or fs_writer like '%'||#{keyword}||'%'
						ORDER BY fs_no DESC 
						
	</select>
	<select id="selectReview" parameterType="int" resultType="kr.or.common.model.vo.Review">
		select review_no as reviewNo,
			fs_no as fsNo,
			fs_working as fsWorking,
			fs_child_category as fsChildCategory,
			review_score as reviewScore,
			review_date as reviewDate,
			review_title as reviewTitle,
			review_content as reviewContent,
			review_photo as reviewPhoto
		from review_service
		where fs_no = #{fsNo} 
	</select>
	
	<select id="selectOneFSevice" parameterType="int" resultType="fs">
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto,
                            fs_description_image as fsDescriptionImage,
                            fs_description_text as fsDescriptionText 
						FROM fservice 
                         where
                         	fs_no = #{fsNo}
	</select>
	<select id="selectOneLike" parameterType="java.util.HashMap" resultType="int" >
		select fs_no
			from service_like
			where member_id = #{memberId} and fs_no = #{fsNo}
	</select>
	<select id="selectCategory" parameterType="kr.or.common.model.vo.Search" resultType="fs" >
					SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
							fs_category = #{keyword}
						ORDER BY fs_no DESC 
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
		<select id="selectCategoryTotalCount" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM fservice where
		fs_category = #{category}
	</select>
		<select id="selectChildCategoryTotalCount" parameterType="String" resultType="int">
	SELECT COUNT(*) FROM fservice where
		fs_child_category = #{childCategory}
	</select>
	<select id="selectAllCategory"  parameterType="kr.or.common.model.vo.Search" resultType="fs">
		SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
							fs_category = #{keyword}
						ORDER BY fs_no DESC 
	</select>
		<select id="selectAllChildCategory"  parameterType="kr.or.common.model.vo.Search" resultType="fs">
		SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
							fs_child_category = #{keyword}
						ORDER BY fs_no DESC 
	</select>
	<select id="selectChildCategory" parameterType="kr.or.common.model.vo.Search" resultType="fs" >
					SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
							fs_child_category = #{keyword}
						ORDER BY fs_no DESC 
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<select id="selectKeyWordAndChildCategoryTotalCount" parameterType="java.util.HashMap" resultType="int">
	SELECT COUNT(*) FROM fservice where
		(fs_title like '%'||#{keyword}||'%'
		or fs_child_category like '%'||#{keyword}||'%'
		or fs_writer like '%'||#{keyword}||'%'
		or fs_category like '%'||#{keyword}||'%')
		and fs_child_category = #{childCategory}
	</select>
	
	<select id="selectSearchAndChildCategory" parameterType="kr.or.common.model.vo.Search" resultType="fs">
				SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
                          	(fs_title like '%'||#{keyword}||'%'
							or fs_child_category like '%'||#{keyword}||'%'
							or fs_category like '%'||#{keyword}||'%'
							or fs_writer like '%'||#{keyword}||'%')
							and fs_child_category = #{childCategory}
						ORDER BY fs_no DESC 
						) A
				)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
		<select id="selectAllSearchAndChildCategory" parameterType="kr.or.common.model.vo.Search" resultType="fs">
	
						SELECT fs_no as fsNo,
                            fs_writer as fsWriter,
                            fs_title as fsTitle,
                            fs_content as fsContent,
                            fs_category as fsCategory,
                            fs_price as fsPrice,
                            fs_working as fsWorking,
                            fs_child_category as fsChildCategory,
                            fs_photo as fsPhoto 
						FROM fservice 
                         where
                          	(fs_title like '%'||#{keyword}||'%'
							or fs_child_category like '%'||#{keyword}||'%'
							or fs_category like '%'||#{keyword}||'%'
							or fs_writer like '%'||#{keyword}||'%')
							and fs_child_category = #{childCategory}
						ORDER BY fs_no DESC 
			
	</select>
	<insert id="insertQuestion"  parameterType="java.util.HashMap" >
		insert into fservice_question values(
			question_no_seq.nextval,
			#{comment},
			#{fsNo},
			0,
			0,
			question_no_seq.currval,
			#{getToday},
			#{memberId}
		)
	</insert>
	<select id="selectQuestion" parameterType="int" resultType="kr.or.common.model.vo.QuestionService" >
		select 
			question_no as qNo,
			question_content as qContent,
			fs_no as fsNo,
			question_class as qClass,
			question_order as qOrder,
			question_index as qIndex,
			question_date as qDate,
			member_id as memberId
		from fservice_question
		where fs_no = #{fsNo}
		ORDER BY question_no DESC 
	</select>
	<insert id="insertAnswer"  parameterType="java.util.HashMap" >
		insert into fservice_question values(
			question_no_seq.nextval,
			#{comment},
			#{fsNo},
			1,
			0,
			#{qNo},
			#{getToday},
			#{memberId}
		)
	</insert>
	<select id="selectAnswer" parameterType="int" resultType="kr.or.common.model.vo.QuestionService" >
		select 
			question_no as qNo,
			question_content as qContent,
			fs_no as fsNo,
			question_class as qClass,
			question_order as qOrder,
			question_index as qIndex,
			question_date as qDate,
			member_id as memberId
		from fservice_question
		where fs_no = #{fsNo} and question_class = 1
		ORDER BY question_no DESC 
	</select>
	<delete id="deleteComment" parameterType="int">
		delete from fservice_question 
		where question_no = #{qNo} or question_index = #{qNo}
	</delete>
</mapper>
