<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
  <select id="selectOneMember" parameterType="m" resultType="m">
  	select
  		member_id as memberId,
  		member_pw as memberPw,
  		member_name as memberName,
  		member_phone as memberPhone,
  		member_addr as memberAddr,
  		member_email as memberEmail,
  		enroll_date as enrollDate,
  		grade,
  		pf_no as pfNo
  	from member where member_id=#{memberId}
  	<if test="memberPw != null">
  	and member_pw=#{memberPw}
  	</if>
  </select>
  <insert id="insertMember" parameterType="m">
  	insert into member values
  	(#{memberId},#{memberPw},#{memberName},#{memberPhone},#{memberAddr},#{memberEmail}
  	,to_char(sysdate,'yyyy-mm-dd'),'0',#{pfNo})
  </insert>
  <select id="searchId" parameterType="m" resultType="m">
  		select
  		member_id as memberId,
  		member_pw as memberPw,
  		member_name as memberName,
  		phone,
  		address,
  		gender
  	from member where member_name=#{memberName} and phone=#{phone}
  </select>
  <delete id="deleteMember" parameterType="string">
  	delete from member where member_id=#{memberId}
  </delete>
  <update id="updateMember" parameterType="m">
  	update member set phone=#{phone}, address=#{address}, gender=#{gender}
  	where member_id = #{memberId}
  </update>
  <select id="selectAllMember" resultType="m">
  	select
  		member_id as memberId,
  		member_pw as memberPw,
  		member_name as memberName,
  		phone,
  		address,
  		gender
  	from member
  </select>
  <select id="allMemberCount" resultType="int">
  	select count(*) from member
  </select>
  <update id="pwChangeMember" parameterType="m">
  	update member set member_pw=#{memberPw}
  	where member_id=#{memerId}
  </update>
  
  <insert id="insertCoupon" parameterType="o">
  	insert into coupon values(coupon_seq.nextval,
  	#{couponName},
  	#{couponContent},
  	#{memberId},
  	#{couponDiscount},
  	to_char(sysdate,'yyyy-mm-dd'),
  	to_char((sysdate+6),'yyyy-mm-dd'),
  	#{couponStatus})
  </insert>
  
  <select id="selectAllCoupon" parameterType="string">
  select * from coupon where member_id=#{memberId}
  </select>
</mapper>





























































































