body {
  margin: 0px;
  padding: 0px;
}
.container {
  padding-top: 30px;
  /* width: 1200px;
  margin: auto;
  overflow: hidden; */
}
.my_l {
  border-right: 1px solid rgb(202, 202, 202);
  float: left;
  width: 30%;
  height: 500px;
  padding-right: 5%;
}
.my_r {
  width: 68%;
  margin-left: 2%;
  float: left;
  height: 500px;
}
.main-menu > li > a {
  font-size: 17px;
}

.menu {
  width: 250px;
  float: left;
  margin: auto;
  margin-left: 25px;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.menu a {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.main-menu > li:hover > a {
  border-bottom: 2px solid #00c7ae;
}
.sub-menu > li:hover > a {
  font-weight: 700;
}
.sub-menu > li > a {
  margin-left: 30px;
}
.sub-menu {
  display: none;
}
.more {
  position: absolute;
  right: 20px;
  font-size: 20px;
  transition-duration: 0.5s;
}
.active {
  transform: rotate(45deg);
}

.my_list {
  height: 500px;
}
