.route-wrap {
  background-color: #f0f0f0;
}
.route {
  width: 1280px;
  margin: 0 auto;
}
.content-wrap {
  width: 1280px;
  margin: 0 auto;
}
.categori-wrap {
  width: 200px;
  float: left;
}
.categori-title > h4 {
  margin: 0;
  padding: 0;
}
.categori-title > hr {
  margin: 0;
}

.parent-catagori {
  position: relative;
  padding: 2px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}

.parent-catagori::before {
  display: inline-block;
  content: " ";
  font-size: 20px;
  margin-right: 5px;
}

.parent-catagori.on > span {
  font-weight: bold;
}

.child-categori {
  display: none;
  overflow: hidden;
  font-size: 14px;
  background-color: #afaf91;
  padding: 0px 0;
}

.child-categori::before {
  display: inline-block;
  content: "";
  width: 10px; /* 사이즈 */
  height: 10px; /* 사이즈 */
  border-top: 1px solid #121212; /* 선 두께 */
  border-right: 1px solid #121212; /* 선 두께 */
  transform: rotate(45deg); /* 각도 */
  margin-right: 5px;
}

.searchList-wrap {
  width: 1080;
  float: left;
}
.searchRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1080px;
  padding: 0px;
}
.searchItem {
  width: 270px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .searchItem > .photo {
  width: 240px;
  height: 160px;
  overflow: hidden;
  border: solid #f0f0f0 1px;
} */
/* .photo > img {
  width: 240px;
} */
.icon-wrap {
  height: 20px;
  float: right;
}
.icon-wrap > img {
  height: 20px;
  padding-left: 5px;
}
.price {
  float: right;
}
.accordion-header > button {
  padding: 2px;
}
#badge {
  float: right;
}
#star {
  color: yellow;
}
.accordion-body {
  padding: 0px;
  padding-left: 14px;
}
.box-shadow {
  width: 240px;
  height: 413px;
  border: 1px solid white;
  padding: 10px;
}
.box-shadow:hover {
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px #f0f0f0;
}
#heart {
  border: 0px;
}
.search-header {
  padding: 10px;
  padding-bottom: 0px;
  float: left;
}
