<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null값 -> ""가 아닌 null로 인식 설정 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- 별칭 설정 -->
	<typeAliases>
		<!-- 서비스 요청 테이블 -->
		<typeAlias type="kr.or.seller.model.vo.ServiceRequest" alias="sr" />

		<!-- 신고 접수 테이블 -->
		<typeAlias type="kr.or.common.model.vo.Tattle" alias="tt" />

		<typeAlias type="kr.or.fservice.model.vo.TestService" alias="ts" />

		<!-- fService 테이블 -->
		<typeAlias type="kr.or.common.model.vo.FService" alias="fs" />
		<!-- 메시지 테이블 -->
		<typeAlias type="kr.or.common.model.vo.Message" alias="msg" />
		<!-- 멤버 테이블 -->
		<typeAlias type="kr.or.member.model.vo.Member" alias="m" />		
		<!-- 고객센터 -->
		<typeAlias type="kr.or.admin.model.vo.Board" alias="board"/>
		<!-- 채팅 테이블 -->
		<typeAlias type="kr.or.common.model.vo.Chat" alias="c" />
		<!-- 채팅 저장 테이블 -->
		<typeAlias type="kr.or.common.model.vo.SaveChat" alias="sc" />
		<!-- 쿠폰 테이블 -->
		<typeAlias type="kr.or.member.model.vo.Coupon" alias="o"/>
		<!-- 결제 내역 테이블 -->
		<typeAlias type="kr.or.member.model.vo.PaymentInfo" alias="p"/>
	</typeAliases>
</configuration>